@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
}
* {
  @apply border-gray-300 dark:border-gray-700;
}
body {
  @apply bg-gray-50 text-gray-950 dark:bg-gray-950 dark:text-gray-100;
}
